@page
@model RecipeWebsite.Pages.AddRecipeModel
@using Microsoft.AspNetCore.Mvc.Rendering
@using RecipeWebsite.Enums
@{
	ViewData["Title"] = "Add Recipe";
}
<div class="col">
	<div class="row">
		<h1>Add Recipe</h1>

		<form method="post" asp-page="AddRecipe" id="frmAdd" enctype="multipart/form-data">
			<div class="mb-2">
				<label asp-for="Recipe.Name"></label>
				<div><span asp-validation-for="Recipe.Name" class="text-danger"></span></div>
				<input class="form-control" id="txtName" asp-for="Recipe.Name" />
			</div>
			<div class="mb-2">
				<label asp-for="Recipe.LongDescription"></label>
				<div><span asp-validation-for="Recipe.LongDescription" class="text-danger"></span></div>
				<textarea asp-for="Recipe.LongDescription" class="form-control" id="txtLongDescription"></textarea>
			</div>
            <div class="mb-2">
                <label asp-for="Recipe.Servings"></label>
                <div><span asp-validation-for="Recipe.Servings" class="text-danger"></span></div>
                <input asp-for="Recipe.Servings" class="form-control" id="txtServings" />
            </div>
            <div class="mb-2">
                <label asp-for="Recipe.Meal"></label>
                <select asp-for="Recipe.Meal" 
                        class="form-control form-select" 
                        asp-items="@Model.MealSelect" id="selMeal"></select>
            </div>
            

            <div class="mb-2 row">
                <div class="col-3">
                    <label asp-for="PrepTimeHour"></label>
                    <input asp-for="PrepTimeHour" class="form-control"/>
                </div>
                <div class="col-3">
                    <label asp-for="PrepTimeMinute"></label>
                    <input asp-for="PrepTimeMinute" class="form-control" />
                </div>
                <div class="col-3">
                    <label asp-for="CookTimeHour"></label>
                    <input asp-for="CookTimeHour" class="form-control" />
                </div>
                <div class="col-3">
                    <label asp-for="CookTimeMinute"></label>
                    <input asp-for="CookTimeMinute" class="form-control" />
                </div>
            </div>
			

            <div class="mb-2">
                <label asp-for="MainIngredient"></label>
                <div><span asp-validation-for="MainIngredient" class="text-danger"></span></div>
                <input class="form-control" asp-for="MainIngredient" id="txtMainIngredient" />
            </div>
            <div class="mb-2">
                <label asp-for="Recipe.ShortDescription"></label>
                <div><span asp-validation-for="Recipe.ShortDescription" class="text-danger"></span></div>
                <textarea asp-for="Recipe.ShortDescription" class="form-control" id="txtShortDescription"></textarea>
            </div>
            <div class="mb-3">
                <label asp-for="Recipe.FormFile" class="form-label"></label>
                <input type="file" asp-for="Recipe.FormFile" class="form-control" accept=".jpg,.png,.webp,.gif,.jpeg" />
                <span asp-validation-for="Recipe.FormFile" class="text-danger"></span>
            </div>

            <div class="mb-2 row">
                <div class="col-6">
                    <label asp-for="RecipeItems"></label>
                    <input id="txtItems" class="form-control" />
                </div>
                <div class="col-6">
                    <button class="btn-primary btn mt-4" type="button" id="btnAdd">Add</button>
                </div>
            </div>

            <div class="mb-2 row">
                <select asp-for="RecipeItems" class="form-control form-select" multiple="3" id="selItems">

                </select>
            </div>

            

           
            <button class="btn btn-primary" type="button" id="btnSubmit">Submit Recipe</button>

            <button class="btn btn-secondary" type="button" id="btnTest">Auto Fill</button>
		</form>

	</div>
</div>

@section Scripts {
@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
<script>
	$(() => {
		$('#btnAdd').click(() => {
            if ($('#txtItems').val() == '') {
                return;
            }
			$('#selItems').append(`<option value='${$('#txtItems').val()}'>${$('#txtItems').val()}</option>`)
            $('#txtItems').val('');
			$('#txtItems').focus();
		})

		$('#btnSubmit').click(() => {
			$("#selItems option").prop("selected", "selected");
			$('#frmAdd').submit();
		});

        $('#btnTest').click(() => {
            $('#txtName').val('AutoFill');
            $('#txtLongDescription').val('This has been autofilled');
            $('#txtMainIngredient').val('Cats');
            $('#txtShortDescription').val('This has also been autofilled');
            $('#selItems').append('<option value="Cats">Cats</option>');
            $('#selItems').append('<option value="moreCats">More Cats</option>');
        });

	});
</script>
}