@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="col">
    <div class="row">
        <p>
            You have no privacy...
        </p>
    </div>
</div>
